body {	color: #ffffff;	
		font: 12px Europe, sans-serif;	
		background: #ffffff;	
		border-top: 5px solid #7e7e7e;	
		margin: 0;}

img {	border: 0;}

button {	color: #fff;	
			background-color: #29c5e6;	
			border: none;	
			height: 32px;	
			font-family: 'Oswald', sans-serif;}

nav {	background: #eb5017;	
		border: 1px solid #e7e7e7;
		height: 43px;

	}

/*#heading {	color: #000000; background: #ffffff ;	margin: 30px 0;	padding-left: 20px;}*/

#wrapper {	width: 98%;	margin: auto;}

header {	padding: 20px 0;}


nav a {	text-decoration: none; }

nav ul {	margin: 0;	padding: 0; }

/*nav li {	
	list-style-position: inside;	
	font: 14px 'Arial', sans-serif;	
	padding: 20px;
	height: 3px;
		}.top-menu*/



li {	display: inline-block;	
		padding: 0px 15px;	
		margin: 0px;
		 }.top-menu 




li.active {	background: #eb5017;	
			color: #ffffff;
			}.top-menu 


a {	color: #000000;
	font: 12px 'Arial', sans-serif;
}


#footer {	

	position: fixed; /* Фиксированное положение */
    left: 10px; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    width: 97%; /* Ширина слоя */
    height: 55px;
    margin: auto;

    /* clear: both;
    margin: 0 auto;
    text-align: center; */
    font: 12px 'Arial', sans-serif;

}


footer a {	
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid white;
}







.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 39px;
  text-decoration: none;
  font: 14px 'Arial', sans-serif;	
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #eb5017;
  color: white;
}


form {
    width:50%;
    
    background:#F0F8FF;
   }
select {
    width: 100px;   
    }