body {
	font-family:Arial;
	font-size:30px;
	color:#fff;
}

a {
	text-decoration:underline;
	color:#fff;
}

.cop {
	text-align:center;
	background-color:#E4241E;
	font-weight:700;
	padding:20px;
	width:50%;	
	margin:0 auto;
}

#faceSmurf {
	position:relative;
	width:250px;
	height:400px;
	margin:100px auto;
}

#faceSmurf * {
	position: absolute;
}

.nFace {
	left:20px;
	top:100px;

	width:170px;
	height:180px;
	border:4px solid #1A181B;
	background-color:#31B3E4;
	
	border-radius: 70% 90% 70% 90%;
	
	box-shadow: inset 8px 12px 0px -12px #278FB5, inset 13px 3px 0px -11px #74C6E4, inset -4px -2px 0px 0px #0096CD;

	transform: rotate(-64deg);
	z-index:2;
}

.ear {
	left:140px;
	top:210px;

	width:60px;
	height:70px;
	border:4px solid #1A181B;
	background-color:#31B3E4;
	border-bottom:none;
	border-left:none;
	border-radius: 70% 80% 60% 80%;
	transform: rotate(84deg);
	z-index:3;
}

.earl1 {
	left:20px;
	top:20px;

	width:20px;
	height:20px;
	border:4px solid #1A181B;
	background-color:#31B3E4;
	border-bottom:none;
	
	border-right:none;
	border-radius: 70% 80% 60% 80%;
	transform: rotate(84deg);
	z-index:3;
}

.mouth {
	left:70px;
	top:200px;

	width:20px;
	height:65px;
	border:4px solid #1A181B;
	background-color:#31B3E4;
	border-top:none;
	border-left:none;
	border-bottom:none;
	
	border-radius: 70% 80% 60% 80%;
	transform: rotate(84deg);
	z-index:3;
}

.mouth1 {
	left:3px;
	top:-3px;

	width:20px;
	height:25px;
	border:4px solid #1A181B;
	background:transparent;
	border-top:none;
	border-right:none;
	border-bottom:none;
	
	border-radius: 70% 80% 60% 80%;
	transform: rotate(84deg);
}

.nose {
	left:-5px;
	top:150px;

	width:80px;
	height:65px;
	border:4px solid #1A181B;
	background-color:#31B3E4;
	border-right:none;
	border-bottom:none;
	
	border-radius:70% 80% 0 90%;
	transform: rotate(20deg);
	z-index:100;
}

.noseb {
	left:10px;
	top:5px;

	width:35px;
	height:20px;
	border:1px solid #8ACCE4;
	background-color:#8ACCE4;
	border-right:none;
	border-bottom:none;
	
	border-radius:90%;
	transform: rotate(-8deg);
	z-index:110;
}

.noseb1 {
	left:11px;
	top:12px;

	width:35px;
	height:20px;
	border:1px solid #31B3E4;
	background-color:#31B3E4;
	border-right:none;
	border-bottom:none;
	
	border-radius:90%;
	transform: rotate(-12deg);
	z-index:110;
}

.eye1 {
	top:130px;
	left:60px;
	width:35px;
	height:54px;
	border:2px solid #1A181B;
	background-color:#fff;
	border-bottom:none;
	border-right:none;
	border-radius: 100% 90% 90% 80%;
	transform: rotate(30deg);
	z-index:3;
}

.eye11 {
	top:20px;
	left:16px;
	width:10px;
	height:24px;
	border:2px solid #1A181B;
	background-color:#1A181B;
	border-bottom:none;
	
	border-radius: 100%;
	transform: rotate(0);
}

.eye2 {
	top:140px;
	left:93px;
	width:35px;
	height:54px;
	border:2px solid #1A181B;
	background-color:#fff;
	
	border-left:none;
	border-radius: 100% 90% 90% 80%;
	transform: rotate(30deg);
	z-index:3;
}

.eye21 {
	top:20px;
	left:16px;
	width:10px;
	height:24px;
	border:2px solid #1A181B;
	background-color:#1A181B;
	border-bottom:none;
	
	border-radius: 100%;
	transform: rotate(0);
	z-index:2;
}

.eyebrow1 {
	top:120px;
	left:80px;
	width:25px;
	height:20px;
	border:5px solid #1A181B;
	background-color:transparent;
	border-bottom:none;
	border-right:none;
	border-left:none;
	
	border-radius: 100%;
	transform: rotate(7deg);
	z-index:2;
}

.eyebrow2 {
	top:130px;
	left:115px;
	width:25px;
	height:20px;
	border:5px solid #1A181B;
	background-color:transparent;
	border-bottom:none;
	border-right:none;
	border-left:none;
	
	border-radius: 100%;
	transform: rotate(35deg);
	z-index:2;
}

.hat1 {
	top:-8px;
	left:55px;
	width:135px;
	height:90px;
	border:4px solid #1A181B;
	background-color:#fff;
	border-bottom:none;
	border-right:none;
	border-top:none;
	
	box-shadow:0px 12px 0px -10px #8A838E;
	
	border-radius: 90% 100% 80% 90%;
	transform: rotate(-13deg);
	z-index:1;
}

.hat2 {
	top:-10px;
	left:30px;
	width:220px;
	height:270px;
	border:6px solid #1A181B;
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-bottom:none;
	
	border-radius: 100%;
	transform: rotate(-23deg);
	z-index:2;
}

.hat3 {
	top:80px;
	left:70px;
	width:20px;
	height:40px;
	border:4px solid #1A181B;
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-bottom:none;
	
	border-radius: 100%;
	transform: rotate(-3deg);
	z-index:1;
}